*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.playing-field{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    
    font-size: 102px;
    font-weight: bold;
    display: flex;
    width: 600px;
    height: 600px;
    
}

.won{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 500px;
}

.won-text{
    font-size: 48px;
    font-weight: bold;
}

.restartBtn{
    margin-left: 50px;
    padding: 10px 20px;
    border: 0;
    background-color: #000000;
    color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
}

.restartBtn:hover{
    background-color: #424242;
}

.first-column{
    border-right: 1px solid whitesmoke;
}

.second-column{
    border-right: 1px solid whitesmoke;
}

.field-1, .field-2, .field-4, .field-5, .field-7, .field-8{
    border-bottom: 1px solid whitesmoke;
}


.field{
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    background-color: lightblue;
}

.field:hover{
    cursor: pointer;
    background-color: rgb(208, 232, 240);
}

